:root {
  --primary-color: #94d1be;
  --secondary-color: #3b413c;
  --background-color: #daf0ee;
  --grey-color: #9db5b2;
  --font-primary: "Lato", sans-serif;
}

* {
  margin: 0;
  font-family: Lato;
  padding: 0;
  box-sizing: border-box;
}

body {
  z-index: 0;
  background-color: #daf0ee;
}

header {
  width: 100vw;
  height: 150px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 130px;
  margin: 20px;
}
.menu {
  width: 40px;
  margin: 20px;
}
.modal-filter,
.modal-sort {
  display: none;
}

.active {
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  color: white;
  width: 70%;
  height: 220px;
  border-radius: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  overflow-x: scroll;
}

.active2 {
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--secondary-color);
  color: white;
  width: 70%;
  height: 200px;
  border-radius: 10px;
  margin-left: 105px;
  padding-left: 10px;
  padding-top: 10px;
  z-index: 1;
}

.filter-button {
  list-style-type: none;
  color: white;
  background-color: var(--secondary-color);
  width: 70%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 20px;
}

.filter-button > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.sort-button {
  list-style-type: none;
  color: white;
  background-color: var(--secondary-color);
  width: 30%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 20px;
}

.sort-button > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.sort-button > a > img {
  width: 35px;
}

section > ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-left: 10px;
  padding: 0;
  margin-right: 10px;
}

footer {
  background-color: #94d1be;
  color: #3b413c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.image-restaurants-article {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.container-name-restaurants-article {
  background-color: white;
  opacity: 80%;
  border: 0.5px solid black;
  border-radius: 10px;
  text-align: center;
}

.restaurants-article {
  width: 90vw;
  border-style: solid;
  border-width: 10px;
  border-color: #3b413c;
  border-radius: 10px;
}

.restaurants-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.promo-section {
  margin-top: 20px;
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  padding: 20px;

  gap: 20px;
}

.promo-items {
  background-color: var(--secondary-color);
  flex-shrink: 0;
  width: 250px;
  border-radius: 20px;
  list-style-type: none;
  padding: 10px;
  position: relative;
  display: flex;
  height: 250px;
  width: 300px;
  justify-content: center;
  align-items: baseline;
}

.h2-carousel {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 10px;
  margin-left: -110px;
  color: white;
  padding: 5px;
}

.img-carousel {
  object-fit: cover;
  width: 280px;
  height: 230px;
  border-radius: 10px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.transparent-page {
  background: linear-gradient(to top, transparent, #9db5b2);
  position: relative;
}

.modal-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--background-color);
  border: 3px solid black;
  border-radius: 15px;
  width: 98%;
  height: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  margin-left: 1%;
  z-index: 1;
}

.burgernco {
  width: 90%;
  margin-top: 5%;
  border: 3px solid black;
  border-radius: 15px;
}

ul {
  list-style-type: none;
}

.modal-list {
  display: flex;
  flex-direction: column;
}
.schedule-section {
}

.schedule {
  width: 10%;
}

.truck {
  width: 15%;
}

.logomenu {
  width: 15%;
}
